<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Display</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">レシピ検索</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {{ if .username }}
          <li class="nav-item">
            <a class="nav-link" href="#">こんにちは、{{ .username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">ログアウト</a>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="/login">ログイン</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">サインアップ</a>
          </li>
          {{ end }}
          <li class="nav-item">
            <a class="nav-link" href="/api-documentation">APIドキュメント</a>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="border p-4 mt-4">
            <h2 class="text-center mb-4">レシピ検索</h2>
            <form action="/submit" method="post">
              <div class="form-group">
                <label for="recipeName">レシピ名</label>
                <input
                  type="text"
                  class="form-control"
                  id="recipeName"
                  name="name"
                  placeholder="レシピ名を入力してください"
                />
              </div>
              <div class="form-group form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="sortByCalories"
                  name="sortCalories"
                />
                <label class="form-check-label" for="sortByCalories"
                  >カロリーでソート</label
                >
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                検索
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      {{range .recipes}}
      <div class="row justify-content-center my-4">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{.Label}}</h5>
              <img
                src="{{.Image}}"
                class="img-fluid rounded"
                alt="{{.Label}}"
              />
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Ingredients:
                  <ul>
                    {{range .Ingredients}}
                    <li>{{.Text}}</li>
                    {{end}}
                  </ul>
                </li>
                <li class="list-group-item">
                  Nutrition: Calories {{.RoundedCalories}} kcal
                </li>
                <li class="list-group-item">
                  Source: {{.Source}}, URL: <a href="{{.URL}}">{{.URL}}</a>
                </li>
                <li class="list-group-item">
                  Total Time: {{.TotalTime}} minutes
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
