<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Display</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">レシピ検索</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {{ if .username }}
          <li class="nav-item">
            <a class="nav-link" href="#">こんにちは、{{ .username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">ログアウト</a>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="/login">ログイン</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">サインアップ</a>
          </li>
          {{ end }}
          <li class="nav-item">
            <a class="nav-link" href="/api-documentation">APIドキュメント</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="border p-4 mt-4">
            <h2 class="text-center mb-4">レシピ検索</h2>
            <form action="/submit" method="post">
              <div class="form-group">
                <label for="recipeName">レシピ名</label>
                <input
                  type="text"
                  class="form-control"
                  id="recipeName"
                  name="name"
                  placeholder="レシピ名を入力してください"
                />
              </div>
              <div class="form-group form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="sortByCalories"
                  name="sortCalories"
                />
                <label class="form-check-label" for="sortByCalories"
                  >カロリーでソート</label
                >
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                検索
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center">
        {{range $index, $recipe := .recipes}}
        <div class="col-md-4">
          <div class="card mb-4">
            <!-- レシピの画像をクリックすると、詳細ページに遷移する -->
            <a href="/recipe/{{$index}}">
              <img
                src="{{$recipe.Image}}"
                class="card-img-top"
                alt="{{$recipe.Label}}"
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">{{$recipe.Label}}</h5>
              <p class="card-text">Source: {{$recipe.Source}}</p>
            </div>
          </div>
        </div>
        {{end}}
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item {{if eq .pagenation.PrevPage 0}}disabled{{end}}">
            <a
              class="page-link"
              href="/submit/page/{{.pagenation.PrevPage}}"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Page {{.pagenation.CurrentPage}}</a>
          </li>
          {{if lt .pagenation.CurrentPage .pagenation.TotalPages}}
          <li class="page-item">{{else}}</li>

          <li class="page-item disabled">
            {{end}}
            <a
              class="page-link"
              href="/submit/page/{{.pagenation.NextPage}}"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
